@import "styles/config.scss";

section.testimonials {
  // @include border;
  width: 100%;
  height: 700px;
  background-color: white;
  box-sizing: border-box;
  @include flex(center, space-evenly, column);

  @include respondMax(sm-desktop) {
    height: 800px;
  }

  @include respondMax(mobile) {
    height: 1000px;
  }

  .header {
    font-family: "Fraunces", serif;
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 5px;
    color: grey;

    @include respondMax(mobile) {
      font-size: 1em;
      width: max-content;
    }
  }
}

div.review {
  @include flex(center, space-around, row wrap);
  width: 1000px;
  height: 400px;
  box-sizing: border-box;

  @include respondMax(sm-desktop) {
    width: 80%;
    height: auto;
  }

  @include respondMax(mobile) {
    width: 100%;
  }

  .client {
    // @include border;
    @include flex(center, space-around, column wrap);
    height: 300px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .testimony-text {
      //   @include border;
      width: 250px;
      font-family: "Barlow", sans-serif;
      font-size: 13px;
      text-align: center;
    }

    .name-job {
      //   @include border;
      @include flex(center, space-around, column wrap);
      height: 70px;

      span {
        font-family: "Barlow", sans-serif;

        &:first-of-type {
          font-family: "Fraunces", serif;
          font-weight: 900;
        }
        &:last-of-type {
          font-size: 11px;
        }
      }
    }
  }
}
