@import "styles/config.scss";

div.review {
  //   @include border;
  @include flex(center, space-around, row wrap);
  width: 1000px;
  height: 400px;
  box-sizing: border-box;

  .client {
    // @include border;
    @include flex(center, space-around, column wrap);
    height: 300px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .testimony-text {
      //   @include border;
      width: 250px;
      font-size: 13px;
      text-align: center;
    }

    .name-job {
      //   @include border;
      @include flex(center, space-around, column wrap);
      height: 70px;

      span {
        &:first-of-type {
          font-weight: 900;
        }
        &:last-of-type {
          font-size: 11px;
        }
      }
    }
  }
}
