@import "styles/config.scss";

section.showcase {
  @include flex(inherit, center, row);
  width: 1440px;
  height: 450px;

  @include respondMax(sm-desktop) {
    @include flex(center, center, row wrap);
    width: 100%;
    height: auto;
  }

  .view {
    @include flex;
    width: 360px;
    height: 100%;

    @include respondMax(sm-desktop) {
      width: 50%;
      height: 50%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
