@import "styles/config.scss";

header {
  @include flex(center, center, row);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(62, 191, 255, 255);

  @include respondMax(sm-desktop) {
    width: 100%;
  }

  @include respondMax(mobile) {
    width: 100%;
  }

  .nav {
    @include flex($justify: space-between);
    width: 1250px;
    height: 60px;
    color: white;

    @include respondMax(sm-desktop) {
      width: 90%;
    }

    @include respondMax(mobile) {
      width: 90%;
    }

    .logo {
      @include flex;
      width: max-content;
      font-family: "Barlow", sans-serif;
      font-size: 25px;
      font-weight: 800;
      box-sizing: border-box;

      @include respondMax(mobile) {
        font-size: 15px;
      }
    }

    .links {
      width: 40%;
      @include flex($justify: space-around);
      box-sizing: border-box;

      @include respondMax(sm-desktop) {
        width: 50%;
      }

      @include respondMax(mobile) {
        display: none;
      }

      a {
        color: white;
        @include flex;
        font-family: "Barlow", sans-serif;
        width: 120px;
        height: 40px;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;

        @include respondMax(sm-desktop) {
          width: 25%;
          height: 30px;
        }

        &:hover {
          border-radius: 12px;
          font-weight: 700;
          color: black;
          background-color: white;

          @include respondMax(sm-desktop) {
            border-radius: 8px;
          }
        }
      }
    }

    .hamburger-icon {
      display: none;

      @include respondMax(mobile) {
        display: inherit;
      }
    }

    .mobile-menu {
      position: absolute;
      @include flex(center, space-around, column);
      width: 250px;
      height: 250px;
      background-color: white;
      color: black;
      z-index: 20;
      right: 20px;
      top: 50px;
      visibility: hidden;
      transform: translateX(-100px) scale(0);
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &.open {
        visibility: visible;
        transform: translateX(0px) scale(1);

        @include respondMin(mobile) {
          visibility: hidden;
        }
      }

      a {
        color: black;
        @include flex;
        font-family: "Barlow", sans-serif;
        width: 150px;
        height: 50px;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
          border-radius: 30px;
          font-family: "Fraunces", serif;
          font-size: 18px;
          font-weight: 900;
          background-color: hsl(51, 100%, 49%);
        }
      }
    }
  }
}
