@import "styles/config.scss";

header {
  // @include border;
  @include flex(center, center, row);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(62, 191, 255, 255);

  .nav {
    @include flex($justify: space-between);
    width: 1250px;
    height: 40px;
    color: white;

    .logo {
      @include flex;
      width: 100px;
      font-size: 25px;
      font-weight: 800;
    }

    .links {
      width: 30%;
      @include flex($justify: space-around);

      a {
        color: white;
      }
    }
  }

  .hambuger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
